/Makefile
/bin/

/nauty27r4/confdefs.h
/nauty27r4/config.cache
/nauty27r4/config.log
/nauty27r4/config.status
/nauty27r4/conftest.c
/nauty27r4/conftest.err
/nauty27r4/gtools.h
/nauty27r4/makefile
/nauty27r4/naututil.h
/nauty27r4/nauty.h
/nauty27r4/*.o
/nauty27r4/*.tmp

doc/manual.aux
doc/manual.bbl
doc/manual.blg
doc/manual.dvi
doc/manual.idx
doc/manual.ilg
doc/manual.ind
doc/manual.lab
doc/manual.log
doc/manual.pdf
doc/manual.six
doc/manual.toc

doc/tthmacros.tex
doc/tthout

htm/

gh-pages/
tmp/

