/Makefile
/bin/

/nauty22/config.cache
/nauty22/config.log
/nauty22/config.status
/nauty22/gtools.h
/nauty22/makefile
/nauty22/naututil.h
/nauty22/nauty.h

doc/manual.aux
doc/manual.bbl
doc/manual.blg
doc/manual.dvi
doc/manual.idx
doc/manual.ilg
doc/manual.ind
doc/manual.lab
doc/manual.log
doc/manual.pdf
doc/manual.six
doc/manual.toc
htm/

gh-pages/
tmp/
