/Makefile
/bin/

/nauty2_8_6/confdefs.h
/nauty2_8_6/config.cache
/nauty2_8_6/config.log
/nauty2_8_6/config.status
/nauty2_8_6/conftest.c
/nauty2_8_6/conftest.err
/nauty2_8_6/gtools.h
/nauty2_8_6/makefile
/nauty2_8_6/naututil.h
/nauty2_8_6/nauty.h
/nauty2_8_6/*.o
/nauty2_8_6/*.tmp

doc/manual.aux
doc/manual.bbl
doc/manual.blg
doc/manual.dvi
doc/manual.idx
doc/manual.ilg
doc/manual.ind
doc/manual.lab
doc/manual.log
doc/manual.pdf
doc/manual.six
doc/manual.toc

doc/tthmacros.tex
doc/tthout

htm/

gh-pages/
tmp/

